<h3>@ViewBag.jobs.Count Result(s)</h3>

@for (int i = 0; i < ViewBag.jobs.Count; i++)
{
    <table class="job-listing">
        <tbody>
            @foreach (KeyValuePair<string, string> jobField in ViewBag.jobs[i])
            {
                <tr>
                    <td>
                        @jobField.Key
                    </td>
                    <td>
                        @jobField.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
}